# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore
.data
.cache
.env
*._.DS_Store
*.DS_Store
# ---> Composer
/backend/composer.phar
/backend/vendor/
*xdebug.log
*node_modules/
/backend/web/themes/*/*.css.map

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/backend/web
/backend/web/wp-admin/
/backend/web/wp-content/index.php
/backend/web/wp-content/languages
/backend/web/wp-content/plugins/index.php
/backend/web/wp-content/themes/index.php
/backend/web/wp-includes/
/backend/web/index.php
/backend/web/license.txt
/backend/web/readme.html
/backend/web/wp-*.php
/backend/web/xmlrpc.php

# Configuration
/backend/web/wp-config.php

# Example themes
/backend/web/wp-content/themes/twenty*/

# Example plugin
/backend/web/wp-content/plugins/hello.php

# Uploads
/backend/web/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes